@using FPLSP_TypingContest.Server.BLL.ViewModels.Login;
@using Server.BLL.Services.Implements;
@using System.Security.Claims;
@inject IHttpContextAccessor HttpContextAccessor

@attribute [Authorize(Roles = "ADMIN,FACILITYADMIN,ORGANIZER,PARTICIPANT")]
<div class="body">
    <div id="body-pd" class="@showmenu">
        <div class="l-navbar @navshow" id="nav-bar">
            <nav class="nav ">
                <div>
                    <a disable class="nav_logo">
                        <div class="header_toggle"><i class='bx bx-menu @showicon' id="header-toggle" @onclick="ShowOrHidden"></i></div>
                        <div>
                            <img src="./image/FPT_Polytechnic.png" style="height: 40px;" />
                        </div>
                    </a>
                    <div class="nav_list">
                        <NavLink href="/home" class="nav_link">
                            <i class='fa-solid fa-house nav_icon'></i> <span class="nav_name">Trang chủ</span>
                        </NavLink>
                        <NavLink title="Cơ Sở Đào Tạo" href="/ListTrainingFacility" class="nav_link">
                           <i class='fas fa-graduation-cap nav_icon'></i> <span class="nav_name">Cơ sở đào tạo</span>
                        </NavLink>
                        <AuthorizeView Roles="ADMIN,FACILITYADMIN" >
                            <Authorized>
                                <NavLink title="Phân quyền" href="/UserAuthorizationManagement" class="nav_link">
                                    <i class='fa-solid fa-people-roof nav_icon'></i> <span class="nav_name">Phân quyền</span>
                                </NavLink>
                            </Authorized>
                        </AuthorizeView>
                        <NavLink title="Cài đặt" href="/typingpage" class="nav_link">
                            <i class='fa-solid fa-screwdriver-wrench nav_icon'></i> <span class="nav_name">Cài đặt</span>
                        </NavLink>
                        <NavLink title="Mẫu văn bản" href="/TextTemplate/List" class="nav_link">
                            <i class='fa-regular fa-file-lines nav_icon'></i> <span class="nav_name">Mẫu văn bản</span>
                        </NavLink>
                    </div>
                </div>
                <NavLink title="Đăng xuất" href="Account/Logout" class="nav_link">
                    <i class='bx bx-log-out nav_icon'></i> <span class="nav_name">Đăng xuất</span>
                </NavLink>
            </nav>
        </div>
    </div>
</div>

@code {
    string showmenu = "";
    string navshow = "";
    string showicon = "";

    //Phương thức để đóng mở NavMenu
    private void ShowOrHidden()
    {
        if (showmenu == "" && navshow == "")
        {
            showmenu = "body-pd";
            navshow = "show";
            showicon = "bx-x";
        }
        else
        {
            showmenu = "";
            navshow = "";
            showicon = "";
        }
    }
}